<div class="container-posts">
{% for post in paginator.posts %}
  <div class="posts-list-item">
    <span class="posts-list-item-name float-left"><a href="{{ post.url }}">{{ post.title }}</a></span>
    <span class="posts-list-item-date float-right">{{ post.date | date: "%Y-%m-%d" }}</span>
  </div>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <div class="posts-list-pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="float-left">{{ site.data.lang[site.language].paginator_previous }}</a>
    {% endif %}
    <span class="posts-page-number ">{{ site.data.lang[site.language].paginator_pages }}{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="float-right">{{ site.data.lang[site.language].paginator_next }}</a>
    {% endif %}
  </div>
{% endif %}
</div>