.footer-container {
  padding: 10px 0;
  border-top: solid 1px #aaa;
  overflow: hidden;
}

.footer-copyright {
  overflow: hidden;
}

.footer-copyright-text {
  display: block;
  position: relative;
  font-size: 14px;
}