pre.highlight {
  line-height: 18px;
  margin: 10px 0;
  padding-left: 3px;
  border: 1px solid #ccc;
  overflow-x: scroll;
  font-size: 14px;
  text-indent: 0px;
  background-color: #eee;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}

.highlighter-rouge {
  font-size: 14px;
  background-color: #eee;
}