@charset "utf-8";

.posts-list-item {
  display: block;
  position: relative;
  line-height: 24px;
  margin: 5px 0;
  overflow: hidden;
}

.posts-list-item-name {
  width: calc(100% - 100px);
  font-weight: 300;
}

.posts-list-pagination {
  margin: 20px 0 10px 0;
  text-align: center;
}