@charset "utf-8";

@media print {
  /* Header */
  .header-container {
    display: none;
  }

  /* Footer */
  .footer-container {
    display: none;
  }

  /* Post */
  .post-title {
    text-align: center;
  }

  .post-author {
    display: block;
    text-align: center;
  }

  .post-info {
    display: none;
  }

  /* Highlight */
  pre.highlight {
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}