@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-family: Courier New, Courier, monospace;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #aaa;
}

blockquote {
  margin: 15px;
  padding-left: 15px;
  border-left: 2px solid #888;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
  margin: 5px 0;
  text-indent: 0;
}

h2 {
  font-size: 1.3em;
}

hr {
  margin: 10px;
  border: 1px solid #eee;
}

img {
  max-width: 700px;
}

ol, ul {
  margin-left: 35px;
}

p {
  margin-bottom: 5px;
}

table {
  width: 100%;
}

tbody tr:hover{
  background-color: #f5f5f5;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {  
  padding: 8px;
  border-bottom: 1px solid #ccc;
  background: #f5f5f5;
}