---
layout: default
---

<article class="container-post">
  <div class="post-title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="post-author">
    <span>{{ site.name }}</span>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
  <div class="post-info">
    <div class="post-date">
      {{ site.data.lang[site.language].post_write_date }}{{ page.date | date: "%Y-%m-%d" }}{% if page.last_modified_at %}, {{ site.data.lang[site.language].post_update_date }}{{ page.last_modified_at | date: "%Y-%m-%d" }}{% endif %}.
    </div>
    <div class="post-categories">
      <span>{{ site.data.lang[site.language].post_categories }}</span>
      {% for category in page.categories %}
      <a href="{{ site.baseurl }}/category/{{ category | slugify }}" class="post-category">{{ category }}</a>
      {% endfor %}
    </div>
    <div class="post-tags">
      <span>{{ site.data.lang[site.language].post_tags }}</span>
      {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
      {% endfor %}
    </div>
    <div class="post-tools">
      {% if page.next %}
      <div>
        <span>{{ site.data.lang[site.language].post_next }}</span><a href="{{ page.next.url }}">{{ page.next.title }}</a>
      </div>
      {% endif %}
      {% if page.previous %}
      <div>
        <span>{{ site.data.lang[site.language].post_previous }}</span><a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
      </div>
      {% endif %}
    </div>
    {% if site.comments %}
      {% include comments.html %}
    {% endif %}
  </div>
</article>