---
layout: default
---

<article class="jp-post">
  <div class="jp-post-title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="jp-post-author">
    <span>{{ site.name }}</span>
  </div>
  <div class="jp-post-content">
    {{ content }}
  </div>
  <div class="jp-post-other">
    <div class="jp-post-date">
      {{ site.data.lang[site.language].post_write_date }}{{ page.date | date: "%Y-%m-%e" }}
    </div>
    <div class="jp-post-categories">
      <span>{{ site.data.lang[site.language].post_categories }}</span>
      {% for category in page.categories %}
      <span class="jp-post-category">{{ category }}</span>
      {% endfor %}
    </div>
    <div class="jp-post-tags">
      <span>{{ site.data.lang[site.language].post_tags }}</span>
      {% for tag in page.tags %}
      <span class="jp-post-tag">{{ tag }}</span>
      {% endfor %}
    </div>
    <div class="jp-post-tools">
      {% if page.next %}
      <div>
        <span>{{ site.data.lang[site.language].post_next }}</span><a href="{{ page.next.url }}">{{ page.next.title }}</a>
      </div>
      {% endif %}
      {% if page.previous %}
      <div>
        <span>{{ site.data.lang[site.language].post_previous }}</span><a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</article>